$white: #F9F7F7;
$clear: #DBE2EF;
$blue: #3F72AF;
$darkBlue: #112D4E;
$green: #0ac5b8;
$logo: '';
$fontWeightStrong: 800;
$fontWeightMedium: 500;

:root {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
}

section {
    padding: 4rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-wrapper {
        position: absolute;
        width: 80%;
        height: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        .heading {
            font-size: 2.5rem;
            color: $blue;
            font-weight: $fontWeightStrong;
            margin-bottom: .5rem;
        }

        .text {
            font-size: 1.5rem;
            font-weight: $fontWeightMedium;
        }
    }
}

.main-header {
    width: 100%;
    height: 8rem;
    position: relative;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;

    .logo-wrapper {
        width: 18rem;
        height: 6rem;
        position: absolute;
        left: 0;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        
        .logo {
            width: 100%;
            height: 96%;
            background-image: $logo;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .main-nav {
        position: relative;
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        width: 35%;
        height: 7rem;

        .hamburger-wrapper {
            z-index: 2;
            position: relative;
            position: absolute;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            right: 4rem;

            .hamburger-top,
            .hamburger-mid,
            .hamburger-btm {
                width: 100%;
                height: .2rem;
                position: absolute;
                background-color: $white;
                border-radius: 20px;
                transition: all linear .4s;
            }

            .hamburger-top {
                top: 2px;
            }

            .hamburger-btm {
                bottom: 2px;
            }
        }

        .hamburger-wrapper.open {
            .hamburger-mid {
                background-color: #000;
                opacity: 0;
                translate: 100% 0;
            }

            .hamburger-top {
                background-color: #000;
                translate: 0 7px;
                rotate: 45deg;
            }

            .hamburger-btm {
                background-color: #000;
                translate: 0 -7px;
                rotate: -45deg;
            }
        }
        
        .nav-list {
            width: 0;
            height: 25rem;
            position: relative;
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;
            padding: 0rem;
            padding-top: 4rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: all .4s ease-in-out;
            background-color: $white;
            border-bottom-left-radius: 20px;
            overflow: hidden;

            .nav-item {
                width: 85%;
                position: relative;
                height: 2.5rem;
                display: flex;
                align-items: center;
                float: right;
                margin-top: auto;
                margin-bottom: auto;
                color: $darkBlue;
                font-size: 1.5rem;
                white-space: nowrap;
                font-weight: $fontWeightMedium;
            }
            
            #fiverBtn {
                color: green;
                font-size: 1.5rem;
                font-weight: $fontWeightStrong;
            }
        }
    }

    .nav-list.open {
        width: 120%;
    }
}

.hero {
    height: 90vh;
    background-color: $darkBlue;
    display: flex;
    align-items: center;
    justify-content: center;


    .heading-wrapper {
        height: 15vh;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .title {
            color: $clear;
            font-size: 4rem;
            white-space: nowrap;
            position: absolute;
            top: 0;
            font-weight: $fontWeightStrong;
        }

        .slogan {
            color: $green;
            font-size: 1.8rem;
            white-space: nowrap;
            position: absolute;
            bottom: 0;
            font-weight: $fontWeightStrong;
        }
    }
}

.about-us {
    height: 80vh;
    background-color: $clear;
}

.technology {
    height: auto;
    min-height: 80vh;
    background-color: $white;

    .technologies-list {
        width: 80%;
        min-height: 40rem;
        position: relative;
        height: auto;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .tech-wrapper {
            width: 90%;
            border: 1px solid black;
            height: 35rem;
            margin-top: 5rem;
            display: inline-block;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 .5rem;
            border-radius: 20px;

            .logo-wrapper {
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                border: 1px solid black;
                margin-top: 2.5rem;
            }

            .tech-name {
                white-space: nowrap;
                margin-top: .5rem;
                font-size: 2rem;
                color: $darkBlue;
            }

            .tech-desc {
                text-align: center;
                margin-top: 2rem;
                font-size: 1.3rem;
            }
        }
    }

}

.customers {
    height: 90vh;
    background-color: $clear;
}

.reviews {
    height: 95vh;
    background-color: $blue;
}

.world-map {
    height: 70vh;
    background-color: $clear;
}

.contact-us {
    height: 70vh;
    background-color: $darkBlue;
}

.main-footer {
    width: 100%;
    height: 30vh;
    background-color: #1a1a1a;
}